*{
    background-color: rgb(37, 25, 197);
}
.primeira { 
    color:#fff;
} 
.um { background-color: blueviolet;


}

.dois {
    background-color: cadetblue;
}

.primeiroP{
color: aquamarine;

}

.segundoP {color: beige;}

.terceiroP {
    color: burlywood;
}